.header {
  margin-top: 15rem;
  height: 100vh;
}

.intro-name {
  font-size: 5rem;
  line-height: 1em;
  width: 100%;
}

.work-position {
  color: var(--color-2);
  margin-top: -0.3rem;
  font-size: 1.5rem;
}

.links {
  width: 5em;
  display: flex;
}
