.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.email-form {
  margin-top: 2em;
  display: block;
  min-width: 10rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  height: 3rem;
  margin-top: 1em;
}

.input-group label {
  color: var(--color-2);
  font-size: var(--size-subtext);
}

.input-group input:not(.input-group input[type="submit"]),
.input-group textarea {
  color: var(--color-subtext);
  font-size: var(--size-subtext);
  background-color: var(--color-1);
  border: 0px;
  border-bottom: 1px solid var(--color-subtext);
  outline: transparent;
  padding: 2px;
  font-family: var(--font-family);
  width: 100%;
}

.input-group textarea {
  resize: vertical;
  overflow-y: hidden;
  padding: 1rem 0;
}

.submit-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-cont input[type="submit"] {
  color: var(--color-3);
  border: 1px solid var(--color-3);
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px;
  background-color: transparent;
  width: auto;
  cursor: pointer;
}
