---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import HeroCard from "../components/HeroCard.astro";
import TrustCard from "../components/TrustCard.astro";
import ExpertiseAreas from "../components/ExpertiseAreas.astro";
import TechnicalWorkflow from "../components/TechnicalWorkflow";
import CaseStudies from "../components/CaseStudies.astro";
import IndustriesCard from "../components/IndustriesCard.astro";
import CtaCard from "../components/CtaCard.astro";
---

<Layout>
  <Nav />
  <main class="max-w-7xl mx-auto px-6 pt-40 pb-24">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
      <HeroCard />
      <TrustCard />
      <ExpertiseAreas />
      <div class="md:col-span-7 h-full">
        <TechnicalWorkflow  />
      </div>
      <!-- <CaseStudies /> -->
      <!-- <IndustriesCard /> -->
      <CtaCard />
    </div>
  </main>
  <Footer />
</Layout>
