---

---

<div
  class="md:col-span-12 glass-card p-12 md:p-24 rounded-2xl flex flex-col items-center text-center relative overflow-hidden inner-highlight"
>
  <div class="absolute inset-0 bg-primary/10 backdrop-blur-3xl"></div>
  <div
    class="absolute -top-40 -left-40 w-96 h-96 bg-primary/20 rounded-full blur-[150px]"
  >
  </div>
  <div
    class="absolute -bottom-40 -right-40 w-96 h-96 bg-primary/20 rounded-full blur-[150px]"
  >
  </div>
  <div class="relative z-10 space-y-10">
    <h2
      class="font-headline text-4xl md:text-6xl font-extrabold text-white tracking-tight max-w-2xl leading-[1.1]"
    >
      Let’s build what your <span class="text-primary">business</span> needs next.
    </h2>
    <p
      class="text-on-surface-variant font-medium max-w-xl mx-auto text-lg leading-relaxed"
    >
      Save time, reduce hassle, and get a website that just works. Let’s start
      with a quick review of your needs.
    </p>
    <div class="pt-4">
      <button
        class="text-white px-10 py-5 rounded-xl font-extrabold text-xl hover:scale-105 transition-all shadow-2xl neon-glow-primary hover:neon-glow-hover active:scale-95 cta-gradient"
      >
        Request a Quote
      </button>
    </div>
  </div>
</div>
