#education {
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  color: rgb(53, 53, 53);
}

#education .content {
  background-color: white;
  height: 60%;
  width: 100%;
  padding: 1em;
  border-radius: 5px;
}

#schools {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 6em;
}

.school {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
