#education-section {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: rgb(53, 53, 53);
}

#schools {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 6em;
}

.school {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
