.hamburger-cont {
  background-color: var(--color-2);
  border-radius: 5px;
  height: 37px;
  width: 47px;
  padding: 1px;
  margin: 14px 0;
  margin-right: 13px;
  color: var(--color-1);
  cursor: pointer;
}
