header {
  border: 1px solid black;
  padding-bottom: 3em;
}

header h1 {
  font-size: 50px;
  padding-top: 3em;
}

header nav {
  margin-top: 1em;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
}

header nav ul li {
  margin-right: 0.5em;
  padding: 1em;
  height: 1em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  border-radius: 3px;
  width: 5em;
}

nav ul li a {
  text-decoration: underline;
  color: rgb(94, 94, 94);
}

header nav ul li:hover {
  background-color: black;
  color: white;
}
