.header {
  height: 100vh;
  /* font-size: 40px; */
  width: 100%;
  padding-top: 2em;
}

.about-flex {
  display: flex;
}

.about-flex h1 {
  margin-right: 20px;
  width: 50%;
  border: 1px solid black;
}

.about-flex p {
  font-size: 1.6rem;
  color: #72747c;
  font-weight: 100;
  width: 55%;
  padding-right: 10%;
  border: 1px solid black;
}

.skills {
  margin-top: 3em;
  font-size: 1.6rem;
}

.skills-body {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  font-size: 1.2rem;
  border: 1px solid gray;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 8px 10px;
  width: auto;
  margin-top: 10px;
  margin-right: 10px;
}
