.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

.logo {
    min-width: 6.5rem;
    height: 2.5rem;
    object-fit: contain;
    position: relative;
}

.title {
    color: hsl(var(--ghost-foreground));
    font-weight: 300;
    letter-spacing: 3%;
}

.contact {
    position: relative;
}

.contact::before {
    content: "";
    height: 2px;
    background: hsl(var(--foreground));
    display: block;
    width: 0%;
    position: absolute;
    bottom: -2px;
    transition-property: width;
    transition-duration: 0.5s;
}

.contact:hover::before {
    width: 100%;
}