* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  background-color: var(--color-bg);
  color: var(--color-subtext);
  font-family: var(--font-family);
}

.container {
  padding: 0 1rem;
  max-width: 60rem;
  margin: 0 auto;
  margin-top: 10rem;
  min-height: 40rem;
  max-height: 60rem;
  min-width: 10rem;
}

.section-title {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: var(--color-subtext);
}

a:hover {
  color: var(--color-2);
  cursor: pointer;
}

.platform:hover {
  color: var(--color-2);
  cursor: pointer;
}

/* 

Media Queries
@media screen and (max-width: 320px) {
  #app {
    display: flex;
    flex-direction: column;
  }
} */
