* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  border: 1px solid black;
}

/* Media Queries */
@media screen and (max-width: 370px) {
  .app {
    display: flex;
    flex-direction: column;
  }
}
